/*
参考样式：
https://moonvy.com/blog/post/2022/diffusion-accelerates-diffusion/#%E7%BB%98%E7%94%BB%E8%BE%85%E5%8A%A9%E5%B7%A5%E5%85%B7
代码来源：https://theme-hope.vuejs.press/zh/config/style.html
*/

// 将主题颜色设置为红色
// 注：为保持一致，你还应该设置其他主题颜色变量
// $vp-c-accent: #6ac195;

// background
$vp-c-bg: (
  light: #fff,
  dark: #252232,
);
$vp-c-bg-alt: (
  light: #f6f6f7,
  dark: #1d1a28,
);
$vp-c-bg-elv: (
  light: #fff,
  dark: #2d2a3a,
);

// text
$vp-c-text: (
  light: rgb(60 60 67),
  dark: rgb(235 235 245 / 90%),
);

// border
$vp-c-border: (
  light: #c2c2c4,
  dark: #3d3a48,
);
$vp-c-divider: (
  light: #e2e2e3,
  dark: #322f3d,
);

// shadow
$vp-c-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 35%),
);

// control
$vp-c-control: (
  light: rgb(142 150 170 / 10%),
  dark: rgb(140 130 160 / 12%),
);
$vp-c-control-hover: (
  light: rgb(142 150 170 / 16%),
  dark: rgb(140 130 160 / 18%),
);
$vp-c-control-disabled: (
  light: #eaeaea,
  dark: #3a3742,
);